/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
	margin-bottom: rem-calc(20);
	padding-bottom: rem-calc(20);
	border-bottom: rem-calc(1) solid #ddd;
}

.preview__meta {
	margin-top: rem-calc(20);
	margin-bottom: 0;
	color: #666;
	font-size: rem-calc(14);
}

.preview__thumb {
	@include breakpoint(small down) {
		margin-bottom: rem-calc(20);
	}
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.entry__thumb {
	margin-bottom:rem-calc(20);
}

.entry__meta {
	color: #666;
	font-size: rem-calc(14);
}

.entry__cat {
	margin-top:rem-calc(20);
}
